@model InversionesII.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}
<div class="content-wrapper">
    <section class="content">
        <h1>Eliminar Cliente</h1>

        <h3>¿Estás segura de que quieres eliminar esto?</h3>
        <div>
            <h4>Cliente</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PrimerNombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PrimerNombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SegundoNombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SegundoNombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PrimerApellido)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PrimerApellido)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SegundoApellido)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SegundoApellido)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DocumentoIdentidad)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DocumentoIdentidad)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FechaNacimiento)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Sexo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Sexo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NoTelefono)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NoTelefono)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
        </section>
    </div>
